div{
    width: 400px;
    background-color: aqua;
    font-size: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{
    font-size: medium;
    color: rgb(165, 7, 41);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
p{
    background-color: rgb(32, 162, 93);
    color: aliceblue;
    align-items: center;
    padding: 15px;
    border-radius: 2vh; 
}
nav{
    text-align: center;
    padding: 20vh;
    background-color: rgb(225, 163, 64);
}
